<%= render 'layouts/admin-nav' %>

<h1>ジャンルマスタ編集</h1>

<%# ジャンルが登録された場合、「投稿されました」の文字を表示 %>
<% if flash[:notice] %>
  <%= flash[:notice] %>
 <% end %> 

<%# ジャンルの投稿フォーム %>
<%= form_for(@genre) do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "追加する" %>
<% end %>

<%# ジャンルの一覧表示 %>
<h3>ジャンル一覧</h3>
<% @genres.each do |genre| %>
  <div>
    <%= genre.id %>
    <%= genre.name %>
  </div>
<% end %>
