<%= render 'layouts/admin-nav' %>
<div class="container">
  <div class="row">

    <h1>ジャンルマスタ編集</h1>

    <%# フラッシュメッセージ %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>

    <%# ジャンルの投稿フォーム %>
    <%= form_for(@genre) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.text_field :name %>
      <%= f.submit "追加する" %>
    <% end %>

    <%# 検索フォーム（オートコンプリート） %>
     <%= search_form_for @search, url: '/genres', method: :get, enforce_utf8: false do |f| %>
       <%= autocomplete_field_tag 'genre[name]', nil, '/genres/autocomplete_product_name' %>
       <%= f.submit '検索' %>
     <% end %>

    <%# ジャンルの一覧表示 %>
    <h3>ジャンル一覧</h3>
    <table class="table">
    <% @genres.each do |genre| %>
          <%= render 'genres/each_genre', genre: genre %>
          <%= render 'genres/each_genre_button', genre: genre %>
    <% end %>
    </table>
  </div>
</div>
