<div class="row item-detail panel panel-default padding10">
	<div class="col-lg-4 item-detail-image">
		<%= attachment_image_tag product, :image, :fill, 100, 100, class: "jacket-img", fallback: "no_image.jpg" %>
	</div>
	<div class="col-lg-8 item-detail-text">
		<p class="font-size20"><%= product.name %></p>
		<p><%= product.artist.name %></p>
		<p><%= product.label.name %></p>
		<p><%= product.release_date %></p>
		<p class="genre-tag-2-3-4"><%= product.genre.name %></p>
		<p>税込価格：<%= converting_to_jpy(product.taxed_price) %>円</p> <!-- text-align: right; -->
	</div>
</div>
