<%= render 'layouts/user-nav' %>

<div class="container">

	<div class="row flash-message">
		<div class="col-xs-10 col-xs-offset-1">
			<% flash.each do |message_type, message| %>
				<div class="alert alert-<%= message_type %>">
					<%# フラッシュメッセージ %>
					<%= message %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="row cart-body">
		<div class="col-xs-9 col-xs-offset-1">
			<h2><%= current_user.last_name %>様カート</h2>

			<% if @cart_items.count == 0 %>
				<p>お客様のカートに、商品はありません。</p>
			<% else %>
				<div class="row cart-index">
					<div class="col-xs-8 cart-index-list">
						<% @cart_items.each do |cart_item| %>
							<% product = Product.find(cart_item.product_id) %>
							<div class="cart-item">
								<%= render '/cart/items_detail', product: product, cart_item: cart_item %>
								<div class="text-right">
									<%= form_for cart_item, url: "/cart_items/#{cart_item.id}" do |f| %>
										<%= f.select :item_number, options_for_select((1..product.stock).to_a,{selected: cart_item.item_number}) %>
										<%= f.submit "変更" %>
									<% end %>
									<p class="line-height">税込価格：<%= price_multiple_helper(cart_item) %>円</p>
									<hr class="hr-margin">
									<%= link_to '削除', "/cart_items/#{cart_item.id}", method: :delete, notice: "削除しました", class:"text-right" %><!-- text-align: right -->
								</div>
							</div>
						<% end %>
					</div>
					<div class="col-xs-2 col-xs-offset-1 cart-total">
						<div class="row">
							<table class="cart-total-show line-height">
								<tr>
									<th>小計：</th>
									<td><%= subtotal_price_helper(@cart_items) %>円</td>
								</tr>
								<tr>
									<th>合計点数：</th>
									<td><%= total_items_helper(@cart_items) %>点</td>
								</tr>
							</table>
						</div>
						<%= link_to 'ご購入手続きへ', "/orders/#{current_user.id}", class: "btn btn-primary" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>


</div>
