<h1>
	Cart#index
	Saddy
</h1>

<div class="container">
	<div class="row nav-bar">
		<%= render 'layouts/user-nav' %>
	</div>
</div>

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<h2>
			<%= current_user.last_name %>様カート
		</h2>
		<div class="row cart-index">
			<div class="col-lg-9 cart-index-list">
				<% if @items.count == 0 %>
					<p>お客様のカートに、商品はありません。</p>
				<% else %>
					<% @items.each do |item| %>
						<% product = Product.find(item.product_id) %>
						<div class="cart-item">
							<div class="row item-detail">
								<div class="col-lg-4 item-detail-image">
									<%= attachment_image_tag product, :image, :fill, 60, 60, class: "jacket-img", fallback: "no_image.jpg" %>
								</div>
								<div class="col-lg-8 item-detail-text">
									<p><%= product.name %></p>
									<p><%= product.artist.name %></p>
									<p><%= product.label.name %></p>
									<p><%= product.release_date %></p>
									<p><%= product.genre.name %></p>
									<p>単価<%= product.price * 1.08 %></p> <!-- text-align: right; -->
									<p>テスト：現在数量<%= item.item_number %></p>
								</div>
							</div>
							<%= form_for item, url: "/cart_items/#{item.id}" do |f| %>
								<%= f.select :item_number, [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9]] %>
								<%= f.submit "更新" %>
								<!-- f.submit "" 更新を非同期でやるという話 -->
							<% end %>
							<p>価格（税込）：<%= product.price * 1.08 * item.item_number %>円</p>
							<hr>
							<%= link_to '削除', "/cart_items/#{item.id}", method: :delete, notice: "削除しました" %>
						</div>
					<% end %>
				<% end %>
			</div>
			<div class="col-lg-3 cart-total">

			</div>

		</div>
	</div>
</div>
