
<div class="edit_artist row" data-artist="<%= @id_artist %>">
  <%= form_with(model: artist, :url => {:action => :update}, remote: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.text_field :name, class: "master-edit-form" %>
      <%= f.submit '保存', class: 'btn btn-info btn-xs' %>
    </div>
  <% end %>
</div>
