<%= render 'layouts/admin-nav' %>

<h1>アーティストマスタ編集</h1>

<%# アーティストが登録された場合、「投稿されました」の文字を表示 %>
<% if flash[:notice] %>
  <%= flash[:notice] %>
 <% end %> 


<%# 検索フォーム（オートコンプリート) %>
 <%= search_form_for @search, url: '/artists', method: :get, enforce_utf8: false do |f| %>
   <%= autocomplete_field_tag 'artist[name]', nil, '/artists/autocomplete_product_name' %>
   <%= f.submit '検索' %>
 <% end %>


<%# アーティストの投稿フォーム %>
  <%= form_for(@artist) do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "追加する" %>
  <% end %>


<%# アーティストの一覧表示 %>
<h3>アーティスト一覧</h3>
<% @artists.each do |artist| %>
  <div>
    <%= artist.id %>
    <%= artist.name %>

    <%= '---------' %>
    <%= '編集' %>
    <%= '保存'%>
    <%= link_to '削除', "/artists/#{artist.id}", method: :delete %>
  </div>
<% end %>
