<%= render 'layouts/user-nav', products:  @product, user: current_user  %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-4 sign_in_box">
      <!-- エラーメッセージ -->
      <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <!--  -->
        <%- end -%>  
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="sign_in_field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="sign_in_field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="sign_in_field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit 'ログイン', class: "btn btn-primary sign-in-button" %>
        </div>
      <% end %>

      <div class="sign-in-info-sign-up">
      <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
