<%= render "layouts/admin-nav" %>

<div class="body">
  <div class="container">
        <h1 class="admin-product-page">商品編集</h1>
        <hr class="admin-hr">
    <%# フラッシュメッセージ %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
        <%= form_for product, url: "/admin/products/#{product.id}" do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
    <div class="row">
      <div class="col-xs-6">
        <%# 商品の編集フォーム %>
      <p class="product-new-label-edit">基本情報</p>
        <table class="table">
          <thead>
            <tr>
              <td>項目</td>
              <td>商品情報入力欄</td>
            </tr>
          <tbody>
          <tr><th class="admin-product-new-label">アーティスト名</th><th><%= f.collection_select(:artist_id,@artists,:id,:name) %></th></tr>
          <tr><th class="admin-product-new-label">シングル/アルバム名</th><th><%= f.text_field :name, id:"album-name" %></th></tr>
          <tr><th class="admin-product-new-label">ジャケット画像</th><th><%= attachment_image_tag @product, :image, :fill, 200, 200, format:'jpeg', fallback:"no_image.jpg",size:'100x100' %><%= f.attachment_field :image  %></th></tr>
          <tr><th class="admin-product-new-label">価格（税別価格）</th><th><%= f.text_field :price, id:"price" %></th></tr>
          <tr><th class="admin-product-new-label">在庫数</th><th><%= f.text_field :stock, id:"stock" %></th></tr>
          <tr><th class="admin-product-new-label">レーベル名</th><th><%= f.collection_select(:label_id,@labels,:id,:name) %></th></tr>
          <tr><th class="admin-product-new-label">ジャンル</th><th><%= f.collection_select(:genre_id,@genres,:id,:name) %></th></tr>
          </tr><th class="admin-product-new-label">ステータス</th><th><%= f.select :status, ["販売中", "販売停止中"], :prompt => "選択してください", id:"status"%></th></tr>
          </tr><th class="admin-product-new-label">発売日</th><th><%= f.date_field :release_date, id:"release_date" %></th></tr>
          </tr><th class="admin-product-new-label">削除フラグ</th><th><%= f.check_box :is_deleted, {}, "true", "false" %></th></tr>
          </tbody>
        </table>
      </div>


      <!-- 右側に表示 -->
      <div class="col-xs-6 song-edit-table">
      　<p class="product-new-label">収録曲</p>
              <table class="table edit-song-table">
                <thead>
                  <tr>
              　    <th>曲名</th>
              　    <th>ディスク番号</th>
                  </tr>
                </thead>
                  <div class="songs-table">
                  <%= f.fields_for :songs do |song| %>
                    <tr>
                      <%= render "song_fields", f: song, product: @product %>
                    </tr>
                  </div>
                  <% end %>
              </table>
              <div>
                <div class="add-song-button-edit">
                    <%= link_to_add_association "行追加", f, :songs, class: 'btn btn-primary btn-xs' %>
                </div>
              </div>
    </div>
      </div>
  <div class="product-shinkitouroku-box">
                  <%= f.submit "更新", class:"btn btn-primary product-shinkitouroku" %>
                </div>
        <% end %>
  </div>
</div>
