<div>
<%= render 'layouts/admin-nav', products:  @product, user: current_user  %>
</div>
<div class="container">
<h2>商品一覧</h2>
  <div class="row">
    <%# フラッシュメッセージ %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>

<%# 商品の検索フォーム %>
<div class="admin-product">
  <%= search_form_for @search, url: '/admin/products' do |f| %>
    <div>
    <%= f.label :name_cont, 'シングル/アルバム名' %>
    <%= f.search_field :name_cont %>
    </div>

    <div>
    <%= f.label :name_cont, 'アーティスト名' %>
    <%= f.search_field :artist_name_cont %>
    </div>

    <div>
    <%= f.label :genre_name_eq, 'ジャンル' %>
    <%= f.collection_select :genre_name_eq, @genres, :name, :name, include_blank: '全てのジャンル' %>
    </div>

    <div>
    <%= f.label :name_cont, 'レーベル名' %>
    <%= f.search_field :label_name_cont %>
    </div>

    <div>
    <%= f.label :name_cont, '在庫数' %>
    <%= f.search_field :stock_gteq %>

    <%= f.label :name_cont, '~' %>
    <%= f.search_field :stock_lteq %>
    </div>

    <p>
    <%= f.label :starus_eq, 'ステータス' %>
    <%= f.radio_button :status_eq, '', {:checked => true} %>指定なし
    <%= f.radio_button :status_eq, '販売中' %>販売中
    <%= f.radio_button :status_eq, '販売停止中' %>販売停止中
    </div>

    <div><%= f.submit '検索', class: "btn btn-success" %></div>

  <% end %>
</div>


    <table class='table'>
    <div class= "paginate">
      <%= paginate @products, class: "paginate" %>
    </div>
      <thead>
        <tr>
          <th>ID</th>
          <th>画像</th>
          <th>シングル/アーティスト名</th>
          <th>ジャンル</th>
          <th>レーベル</th>
          <th>アーティスト</th>
          <th>価格</th>
          <th>在庫数</th>
          <th>ステータス</th>
          <th>登録日</th>
          <th>更新日</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
       <% @products.each do |product| %>
         <% if product.is_deleted == false %>
     <tbody>
      <tr class="">
        <td><%= product.id %></td>
        <td><%= attachment_image_tag product, :image, :fill, 20, 20, format:'jpeg', fallback:"no_image.jpg",size:'40x40' %></td>
        <td><%= link_to product.name, "/admin/products/#{product.id}" %></td>
        <td><%= product.genre.name %></td>
        <td><%= product.label.name %></td>
        <td><%= product.artist.name %></td>
        <td><%= product.price %></td>
        <td><%= product.stock %></td>
        <td><%= product.status %></td>
        <td><%= product.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= product.updated_at.strftime("%Y-%m-%d")%></td>
        <% if product.is_deleted == true %>
          <td>削除済商品</td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to '詳細', "/admin/products/#{product.id}", class: "btn btn-primary" %></td>
        <td><%= link_to '編集', "/admin/products/#{product.id}/edit", class: "btn btn-info" %></td>
      </tr>
     </tbody>
      <% else %>
     <tbody>
      <tr class="admin-product-index">
        <td><%= product.id %></td>
        <td><%= attachment_image_tag product, :image, :fill, 20, 20, format:'jpeg', fallback:"no_image.jpg",size:'40x40' %></td>
        <td><%= link_to product.name, "/admin/products/#{product.id}" %></td>
        <td><%= product.genre.name %></td>
        <td><%= product.label.name %></td>
        <td><%= product.artist.name %></td>
        <td><%= product.price %></td>
        <td><%= product.stock %></td>
        <td><%= product.status %></td>
        <td><%= product.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= product.updated_at.strftime("%Y-%m-%d")%></td>
        <% if product.is_deleted == true %>
          <td>削除済商品</td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to '詳細', "/admin/products/#{product.id}", class: "btn btn-primary" %></td>
        <td><%= link_to '編集', "/admin/products/#{product.id}/edit", class: "btn btn-info" %></td>
      </tr>
     </tbody>
      <% end %>
			<% end %>
    </table>
    <div class= "paginate">
      <%= paginate @products, class: "paginate" %>
    </div>
  </div>
</div>
