<%= render 'layouts/admin-nav' %>

<div class='body'>
  <div class='container'>
        <h1 class="admin-product-page">商品詳細</h1>
    <div class='row'>
    <%# フラッシュメッセージ %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
      <div class='col-lg-6' style='float: left'>
      <p class="product-new-label-edit">基本情報</p>
        <table class="table">

        <tr>
        <th>「商品ID」</th>
        <th><%= @product.id %></th>
        </tr>
        <p>
        <th>「アーティスト名」</th>
        <th><%= @product.artist.name %></th>
        <tr>
        <th>「シングル/アルバム名」</th>
        <th><%= @product.name %></th>
        </tr>
        <p>
        <th>「ジャケット画像」</th>
        <th><%= attachment_image_tag @product, :image, :fill, 200, 200, format:'jpeg', fallback:"no_image.jpg",size:'100x100' %></th>
        </tr>
        <p>
        <th>「価格（税別価格）」</th>
        <th><%= @product.price %></th>
        </tr>
        <tr>
        <th>「在庫数」</th>
        <th><%= @product.stock %></th>
        </tr>
        <tr>
        <th>「レーベル名」</th>
        <th><%= @product.label.name %></th>
        </tr>
        <tr>
        <th>「ジャンル」</th>
        <th><%= @product.genre.name %></th>
        </tr>
        <tr>
        <th>「ステータス」</th>
        <th><%= @product.status %></th>
        </tr>
        <tr>
        <th>「削除フラグ」</th>
        <% if @product.is_deleted == false %>
          <th><i class="fa fa-square-o"></i></th>
				<% else %>
          <th><i class="fa fa-check-square-o"></i>削除済み</th>
				<% end %>
        </tr>
        </table>

      </div>

      <!-- 右側に収録曲表示 -->
      <div class='col-lg-5' style='float: right'>
        <div>
        　<p class="product-new-label">収録曲</p>
          <table class="table">
                <thead>
            　    <th></th>
            　    <th>曲名</th>
            　    <th>ディスク番号</th>
                </thead>
                  <% @product.songs.each.with_index(1) do |song, n| %>
                    <tr>
                      <td><%= n %></td>
                      <td><%= song.name %></td>
                      <td><%= song.disk %></td>
                    </tr>
                  <% end %>
          </table>
        </div>
      </div>

    </div>
        <div>
          <%= link_to '編集', "/admin/products/#{@product.id}/edit", class:'btn btn-primary product-shinkitouroku' %>
        </div>

  </div>
</div>
