<%= render 'layouts/admin-nav' %>

<h1>商品詳細</h1>
<p>商品ID</p>
<%= @product.id %>
<p>アーティスト名</p>
<%= @artist.name %>
<p>シングル/アルバム名</p>
<%= @product.name %>
<p>ジャケット画像</p>
<%= attachment_image_tag @product, :image %>
