<%= render 'layouts/admin-nav' %>

<div class='body'>
        <h1>商品詳細</h1>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-4' style='float: left'>

        <p>
        「商品ID」
        <%= @product.id %>
        </p>
        <p>「アーティスト名」</p>
        <%= @artist.name %>
        <p>「シングル/アルバム名」</p>
        <%= @product.name %>
        <p>「価格（税別価格）」</p>
        <%= @product.price %>
        <p>「在庫数」</p>
        <%= @product.stock %>
        <p>「レーベル名」</p>
        <%= @product.label.name %>
        <p>「ジャンル」</p>
        <%= @product.genre.name %>
        <p>「ステータス」</p>
        <%= @product.status %>
        <p>「削除フラグ」</p>
        <%=  %>

      </div>

      <div class='col-lg-6' style='float: right'>

        <div>
          <p>シングル/アルバムの曲名</p>
        </div>

      </div>
    </div>
  </div>
</div>
