<%= render '/layouts/admin-nav' %>
<div class="container">
			<h2>受注一覧</h2>
      <hr class="admin-hr">
	<div class="row order-search">
		<div class="col-xs-6 col-xs-offset-3">
    <p class="product-new-label">検索フォーム</h3>
			<div class="search_form">
				<%= search_form_for @search, url: '/admin/orders' do |f| %>
					<table class="table">
						<tr>
							<th><%= f.label :id_eq, "注文番号" %></th><!-- ransackでは整数値の部分検索に非対応 -->
							<td><%= f.search_field :id_eq %></td>
						</tr>
						<tr>
							<th><%= f.label :last_name_or_first_name, "名前" %></th>
							<td><%= f.search_field :last_name_or_first_name_cont %></td>
						</tr>
						<tr>
							<th><%= f.label :is_created_gteq_lteq, "注文日" %></th>
							<td>
								<%= f.date_field :created_at_gteq %>～
								<%= f.date_field :created_at_lteq_end_of_day %>
							</td>
						</tr>
						<tr>
							<th><%= f.label :shipping_status_in, "ステータス" %></th>
							<td><%= f.radio_button :shipping_status_eq, "", {:checked => true} %>全て
							<%= f.radio_button :shipping_status_eq, "発送準備中" %>発送準備中
							<%= f.radio_button :shipping_status_eq, "発送済み" %>発送済み
							<%= f.radio_button :shipping_status_eq, "キャンセル" %>キャンセル</td>
						</tr>
					</table>

					<div class="kensaku-button">
						<%= f.submit "検索", class: "btn btn-success product-shinkitouroku" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row order-index">
		<div class="col-xs-10 col-xs-offset-1 admin-order-rireki">
			<%= paginate @result, class: "paginate" %>
			<table class="table order-index-table">
				<tr>
					<th>注文ID</th>
					<th>お名前</th>
					<th>注文日</th>
					<th>対応状況</th>
					<th>購入金額(税込)</th>
					<th colspan="2"></th>
				</tr>
				<% @result.each do |r| %>
          <% if r.shipping_status == "発送準備中" %>
            <tr class="">
              <td><%= r.id %></td>
              <td><%= r.last_name %><%= r.first_name %></td>
              <td><%= r.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= r.shipping_status %></td>
              <td><%= r.total_price %></td> <!--taxed-->
              <td><%= link_to "詳細", "/admin/orders/#{r.id}", class:"btn btn-primary" %></td>
              <td><%= link_to "編集", "/admin/orders/#{r.id}/edit", class:"btn btn-info" %></td>
            </tr>
          <% else %>
            <tr class="line-height-adjust">
              <td><%= r.id %></td>
              <td><%= r.last_name %><%= r.first_name %></td>
              <td><%= r.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= r.shipping_status %></td>
              <td><%= r.total_price %></td> <!--taxed-->
              <td><%= link_to "詳細", "/admin/orders/#{r.id}", class:"btn btn-primary" %></td>
              <td><%= link_to "編集", "/admin/orders/#{r.id}/edit", class:"btn btn-info" %></td>
            </tr>
          <% end %>
				<% end %>
			</table>
		</div>
	</div>

</div>
