<%= render 'layouts/user-nav', users:  @user, user: current_user  %>

<div class="container">
    <div class="row　">
        <div class="col-lg-12　col-lg-offset-6">
        
        <%= form_for @user, url: "/users/#{@user.id}" do |f| %> 
         <div class="row">
             <div class="col-xs-6 col-lg-offset-3">
             
                <h1 class="user-logo">編集</h1>
                <div class="form-group"> 
                    <table class="table">
                        <tbody>
                            <tr><th>(姓)</th><th> <%= f.text_field :last_name, class: "form-control" %> </th></tr>
                            <tr><th>(名)</th><th> <%= f.text_field :first_name, class: "form-control" %> </th></tr>
                            <tr><th>カナ(姓)</th><th> <%= f.text_field :last_name_kana, class: "form-control" %> </th></tr>
                            <tr><th>カナ(名)</th><th> <%= f.text_field :first_name_kana, class: "form-control" %> </th></tr>
                            <tr><th>電話番号</th><th><%= f.text_field :phone, class: "form-control" %> </th></tr>
                            <tr><th>メールアドレス</th><th><%= f.text_field :email, class: "form-control" %></th></tr>
                            <tr><th>郵便番号</th><th><%= f.text_field :postal_code, class: "form-control" %></th></tr>
                            <tr><th>住所</th><th><%= f.text_field :adress, class: "form-control" %></th></tr>
                            <tr><th></th><th><%= f.submit '更新',  class: "btn-flat-border btn-block" %></th></tr>
                        </tbody>
                     </table>  
                </div>
            </div>
        </div>

        <% end %>

        </div>
    </div>
</div>
