<%= render 'layouts/user-nav', users:  @user, user: current_user  %>

<div class="container">
	<div class="row product-wrapper">
		<div class="col-xs-12">
			<%# フラッシュメッセージ %>
			<% flash.each do |message_type, message| %>
				<div class="alert alert-<%= message_type %>">
					<%= message %>
				</div>
			<% end %>
			<h1 class="user-logo">マイページ</h1>
			<table class="table">
				<tbody>
					<tr>
						<th>マイページ</th>
						<th>
							<%= link_to "会員情報編集", "/users/#{@user.id}/edit", class: "btn-flat-border" %>
							<%= link_to "パスワード変更", "/users/edit", class: "btn-flat-border" %>
							<%# 遷移元のページの情報を送付先住所の登録画面に持たせるため、URLにフラグとして1をもたせる %>
							<%= link_to "送付先住所登録", "/addresses/1", class: "btn-flat-border" %>
						</th>
					</tr>
					<tr>
						<td>会員番号</td>
						<td><%= @user.id %></td>
						<td></td>
					</tr>
					<tr>
						<td>名前</td>
						<td><%= @user.last_name %> <%= @user.first_name %></td>
						<td></td>
					</tr>
					<tr>
						<td>名前(カナ)</td>
						<td><%= @user.last_name_kana %> <%= @user.first_name_kana %></td>
						<td></td>
					</tr>
					<tr>
						<td>電話番号</td>
						<td><%= @user.phone %></td>
						<td></td>
					</tr>
					<tr>
						<td>メールアドレス</td>
						<td><%= @user.email %></td>
						<td></td>
					</tr>
					<tr>
						<td>郵便番号</td>
						<td><%= @user.postal_code %></td>
						<td></td>
					</tr>
					<tr>
						<td>住所</td>
						<td><%= @user.adress %></td>
						<td></td>
					</tr>

					<% @useraddresses.each.with_index(1) do |f,i| %>
						<tr>
							<td>送付先住所 <%= i %></td>
							<td><%= f.postal_code %><%= f.address %></td>
							<td><%= link_to '削除', "/addresses/1/#{f.id}", method: :delete, data: {confirm:"本当に削除しますか？"} ,class:"btn btn-danger" %></td>
						</tr>
					<% end %>

				</tbody>
			</table>
		</div>
	</div>

	<div class="row links">
		<div class="col-xs-6 col-xs-offset-3">
			<%= link_to "購入履歴", "/users/#{current_user.id}/orders", class: "btn btn-primary floater marginer"%>
			<%= link_to "退会", "/users/#{current_user.id}/destroy_confirm", class:"btn btn-warning floater marginer" %>
		</div>
	</div>

</div>
