<!-- これを非同期送信して更新していただければと！ -->

<%= form_for(@address_new, url: "/addresses") do |af| %>
	<p>新しい住所の登録</p>
	<table>
		<tr>
			<th>郵便番号：</th>
			<td><%= af.text_field :postal_code %></td>
		</tr>
		<tr>
			<th>住所：</th>
			<td><%= af.text_area :address %></td>
		</tr>
		<tr>
			<th>宛名：</th>
			<td>(姓)</td>
			<td><%= af.text_field :last_name %></td>
			<td>(名)</td>
			<td><%= af.text_field :first_name %></td>
		</tr>
		<tr>
			<th>宛名(カナ)：</th>
			<td>(セイ)</td>
			<td><%= af.text_field :last_name_kana %></td>
			<td>(メイ)</td>
			<td><%= af.text_field :first_name_kana %></td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td><%= af.text_field :phone %></td>
		</tr>
		<%= af.submit "この住所を登録" %>
	</table>
<% end %>
