<%= render 'layouts/user-nav' %>

<div class="container">

<%# フラッシュメッセージ %>
<% flash.each do |message_type, message| %>
	<div class="alert alert-<%= message_type %>">
		<%= message %>
	</div>
<% end %>

	<div class="row main">
		<div class="col-xs-10 col-xs-offset-1">
			<h2>ご購入手続き</h2>

			<%= form_for(@order, url: "/orders/#{current_user.id}/confirm" ) do |f| %>

				<!-- お届け先 -->
				<div class="destination panel panel-info">
					<div class="panel-heading bgc-blue">
						<h4 class="text-center">お届け先</h4>
					</div>
					<div class="row panel-body user-address">
						<div class="col-xs-6">
							<div class="address-content">
								<label><%= f.radio_button :address, "0", checked: true %>ご登録の住所へお届け</label>
								<table class="address-table">
									<tr>
										<th>郵便番号：</th>
										<td><%= current_user.postal_code %></td>
									</tr>
									<tr>
										<th>住所：</th>
										<td><%= current_user.adress %></td>
									</tr>
									<tr>
										<th>宛名：</th>
										<td><%= current_user.last_name %> <%=current_user.first_name %>様</td>
									</tr>
									<tr>
										<th>電話番号：</th>
										<td><%= current_user.phone %></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-xs-6 address-content">
							<%# 遷移元のページの情報を送付先住所の登録画面に持たせるため、URLにフラグとして2をもたせる %>
							<%= link_to "送付先住所を登録する", "/addresses/2", class: "btn btn-primary"  %>
						</div>
					</div>
					<div class="row addresses">
						<% @addresses.each do |address| %> <!-- userが登録している住所の一覧表示 -->
							<div class="col-xs-6">
								<div class="address-content">
									<label><%= f.radio_button :address, address.id %>下記住所へお届け</label>
									<table>
										<tr>
											<th>郵便番号：</th>
											<td><%= address.postal_code %></td>
										</tr>
										<tr>
											<th>住所：</th>
											<td><%= address.address %></td>
										</tr>
										<tr>
											<th>宛名：</th>
											<td><%= address.last_name %> <%= address.first_name %>様</td>
										</tr>
										<%= link_to '削除', "/addresses/2/#{address.id}", method: :delete, data: {confirm:"本当に削除しますか？"}, class:"btn-sm btn-danger" %>
									</table>
								</div>
							</div>
						<% end %>
					</div>
				</div>

				<!-- お支払い情報 -->
				<div class="payment panel panel-warning">
					<div class="panel-heading">
						<h4 class="text-center">お支払い情報</h4><!-- inline-blockでmargin:0 auto; -->
					</div>
					<div class="row panel-body">
						<div class="col-xs-3 col-xs-offset-3 payment-form">
							<div><label><%= f.radio_button :payment, "銀行振込", checked: true %>銀行振込</label></div>
							<div><label><%= f.radio_button :payment, "代引き" %>代引き</label></div>
							<div><label><%= f.radio_button :payment, "クレジットカード決済" %>クレジットカード決済</label></div>
						</div>
						<div class="col-xs-3 total">
							<table>
								<tr>
									<th>お買い上げ商品：</th>
									<td><%= total_items_helper(@cart_items) %>点</td>
								</tr>
								<tr>
									<th>小計：</th>
									<td><%= converting_to_jpy(subtotal_price_helper(@cart_items)) %>円</td>
								</tr>
								<tr>
									<th>送料：</th>
									<td>500円</td>
								</tr>
								<tr>
									<td colspan="2"><hr class="payment-hr"></td>
								</tr>
								<tr>
									<th>総計：</th>
									<td><%= converting_to_jpy(total_price_helper(@cart_items)) %>円</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<!-- お買い上げ商品 -->
				<div class="cart-index panel panel-success">
					<div class="panel-heading">
						<h4 class="text-center">お買い上げ商品</h4>
					</div>
					<div class="row panel-body">
						<div class="col-xs-8 col-xs-offset-2 cart-index-list">
							<% @cart_items.each do |cart_item| %><!--Todo cart_item.productに直す-->
								<% product = Product.find(cart_item.product_id) %>
								<div class="cart-item">
									<%= render '/cart/items_detail', product: product, cart_item: cart_item %>
									<p class="text-right">数量：<%= cart_item.item_number %></p>
									<p class="text-right">価格(税込)：<%= converting_to_jpy(price_multiple_helper(cart_item)) %>円</p>
									<hr>
								</div>
							<% end %>
						</div>
					</div>
				</div>

				<div class="buttons">
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2">
							<div class="procedure-btn-wrapper">
								<%= link_to "戻る", "/carts/#{current_user.id}", class: "btn btn-warning text-center"  %>
								<%= f.submit "確認画面へ", class: "btn btn-primary text-center" %>
							</div>
						</div>
					</div>
				</div>

			<% end %> <!--form_for-->
		</div>
	</div>
</div>

<%= render 'layouts/footer' %>
