<h1>
	Orders#process
	Saddy
</h1>

<div class="container">

	<div class="row nav">
		<div class="col-lg-12">
			<%= render 'layouts/user-nav' %>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h2>ご購入手続き</h2>
			<%= form_for(@order, url: "/orders/#{current_user.id}/confirm" ) do |f| %>

				<div class="destination">
					<div class="row">
						<div class="col-lg-12 addresses-title">
							<p>お届け先</p>
						</div>
					</div>
					<div class="row addresses">
						<label><%= f.radio_button :address, "0", checked: true %>ご登録の住所へお届け</label>
						<table class="address-table">
							<tr>
								<th>郵便番号：</th>
								<td><%= current_user.postal_code %></td>
							</tr>
							<tr>
								<th>住所：</th>
								<td><%= current_user.adress %></td>
							</tr>
							<tr>
								<th>宛名：</th>
								<td><%= current_user.last_name %> <%=current_user.first_name %>様</td>
							</tr>
							<tr>
								<th>電話番号：</th>
								<td><%= current_user.phone %></td>
							</tr>
						</table>
						<%= link_to "新しい住所を登録する", "users/#{current_user.id}", class: "btn btn-primary" %>
						<% @addresses.each do |address| %> <!-- userが登録している住所の一覧表示 -->
							<label><%= f.radio_button :address, address.id %>下記住所へお届け</label>
							<table>
								<tr>
									<th>郵便番号：</th>
									<td><%= address.postal_code %></td>
								</tr>
								<tr>
									<th>住所：</th>
									<td><%= address.address %></td>
								</tr>
								<tr>
									<th>宛名：</th>
									<td><%= address.last_name %> <%= address.first_name %>様</td>
								</tr>
								<%= link_to "削除", "/addresses/#{address.id}", method: :delete %>
							</table>
						<% end %>
					</div>
				</div>

				<div class="payment">
					<div class="row">
						<div class="col-lg-12 payment-title">
							<p>お支払い情報</p><!-- inline-blockでmargin:0 auto; -->
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 payment-form">
							<label><%= f.radio_button :payment, "銀行振込", checked: true %>銀行振込</label>
							<label><%= f.radio_button :payment, "代引き" %>代引き</label>
							<label><%= f.radio_button :payment, "クレジットカード決済" %>クレジットカード決済</label>
						</div>
						<div class="col-lg-6 total">
							<table>
								<tr>
									<th>お買い上げ商品：</th>
									<td><%= total_items_helper(@cart_items) %>点</td>
								</tr>
								<tr>
									<th>小計：</th>
									<td><%= subtotal_helper(@cart_items) %>円</td>
								</tr>
								<tr>
									<th>送料：</th>
									<td>500円</td>
								</tr>
								<hr>
								<tr>
									<th>総計：</th>
									<td><%= subtotal_helper(@cart_items) + 500 %>円</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="cart-index">
					<div class="row">
						<div class="col-lg-9 cart-index-list">
							<% @cart_items.each do |cart_item| %>
								<% product = Product.find(cart_item.product_id) %>
								<div class="cart-item">
									<%= render '/cart/items_detail', product: product, cart_item: cart_item %>
									<p>数量：<%= cart_item.item_number %></p>
									<p>価格（税込）：<%= taxed_price_helper(product) * cart_item.item_number %>円</p>
									<hr>
								</div>
							<% end %>
						</div>
					</div>
				</div>
				<hr>

				<div class="buttons">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<%= link_to "戻る", "/carts/#{current_user.id}", class: "btn btn-warning" %>
							<%= f.submit "確認画面へ", class: "btn btn-primary" %>
						</div>
					</div>
				</div>

			<% end %> <!--form_for-->
		</div>
	</div>
</div>
