
<div class="container">
	<div class="row">
		<div class="col-xs-12 sign_in_box">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3 sign_in_box">

					<h2 class="text-center">管理者 サインイン</h2>
					<!-- エラーメッセージ -->
					<% flash.each do |name, msg| %>
						<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
					<% end %>

					<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

						<div class="sign_in_field devise-form-center">
							<%= f.label "Eメール" %><br />
							<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "wide-form" %>
						</div>

						<div class="sign_in_field devise-form-center">
							<%= f.label "パスワード" %><br />
							<%= f.password_field :password, autocomplete: "current-password", class: "wide-form" %>
						</div>

						<% if devise_mapping.rememberable? %>
							<div class="sign_in_field devise-form-center">
								<%= f.check_box :remember_me %>
								<%= f.label "ログインを記憶する" %>
							</div>
						<% end %>

						<div class="actions devise-form-center">
							<%= f.submit "ログイン", class: "btn btn-primary sign-in-button"%>
						</div>

					<% end %><!--form_for-->

					<div class="sign-in-info-sign-up devise-form-center">
						<%= render "admins/shared/links" %>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
