<%= render 'layouts/user-nav' %>
<div class="container">

	<div class="row product-wrapper">
		<div class="col-xs-2 genre-guide">
  		<div class="favorite-message">
    		<!-- いいねしました表示がでる -->
  		</div>
			<%= render 'layouts/genre-guide' %>
		</div>

		<div class="col-xs-10 ">
			<div class="row">
        <% if @genre %>
          <h2><%= @genre.name %>         いいね！ランキング</h2>
        <% else %>
          <h2 class="ranking-title">総合いいね！ランキング</h2>
        <% end %>
			</div>

			<div class="row total-rank1">
				<p>1位</p>
					<div class="row ">
				</div>
				<%= link_to "/products/#{@ranked_product[0].id}" do %>
					<div class="col-xs-5">
          	<% if @ranked_product[0].status == "販売中" %>
            	<%= attachment_image_tag @ranked_product[0], :image, :fill, 350, 350, class: "jacket-img", fallback: "no_image.jpg", class: 'product-image' %>
          	<% else %>
            	<div class="product-ranking-img-1"><div class="hanbaiteishichuu-show">販売停止中</div></div>
              	<%= attachment_image_tag @ranked_product[0], :image, :fill, 350, 350, class: "jacket-img", fallback: "no_image.jpg", class: 'product-image' %>
          	<% end %>
					</div>
					<div class="col-xs-7 ranking-1-contents1">
						<div class="row">
							<div class="col-xs-12 ranking-1-text">
								<p class="song-name"><%= @ranked_product[0].name %></p>
								<p class="artist-name"><%= @ranked_product[0].artist.name %></p>
								<p class="genre-tag"><%= @ranked_product[0].genre.name %></p>
								<p class="ranking-1-contents"><%= @ranked_product[0].release_date %></p>
								<p class="ranking-1-contents"><%= render 'products/products', product: @ranked_product[0] %></p><!--いいね機能 -->
							</div>
						</div>
					</div>
				<% end %>
			</div>

			<div class="row total-rank2-3">
				<% @ranked_product[1..2].each.with_index(2) do |product,i| %>
					<%# 2位と3位を表示 %>
					<div class = "col-xs-6 top-products">
						<div class ="row">
							<p><%= i %>位</p>
						</div>
						<%= link_to "/products/#{product.id}" do %>
							<div class="col-xs-6">
	          		<% if product.status == "販売中" %>
						  		<%= attachment_image_tag product, :image, :fill, 250, 250, class: "jacket-img", fallback: "no_image.jpg",class: 'product-image' %>
	          		<% else %>
	            		<div class="product-ranking-img-2"><div class="hanbaiteishichuu-ranking-2">販売停止中</div></div>
					  			<%= attachment_image_tag product, :image, :fill, 250, 250, class: "jacket-img", fallback: "no_image.jpg",class: 'product-image' %>
	          		<% end %>
							</div>
					  	<div class="col-xs-6">
								<div class="row">
									<div class="col-xs-12 top-contents">
										<p><%= product.name %></p>
										<p class="artist-name-2-3"><%= product.artist.name %></p>
										<label class="genre-tag-2-3"><%= product.genre.name %></label>
										<p><%= product.release_date %></p>
								 		<p><%= render 'products/products', product: product %></p>
							 		</div>
					  		</div>
				 			</div>
				 		<% end %>
					</div>
				<% end %>
			</div>

			<% if @ranked_product.size-1 > 3 %>
				<% @ranked_product[3..minof(9, @ranked_product.size-1)].each.with_index(4) do |product,i| %>
					<%# 4位から10位までは以下のhtmlを表示する %>
					<div class = "col-xs-3 genre-rank1-2-3">
						<p><%= i %>位</p>
						<%= link_to "/products/#{product.id}" do %>
							<div class="col-xs-12">
	              <% if product.status == "販売中" %>
	                <%= attachment_image_tag product, :image, :fill, 150, 150, class: "jacket-img", fallback: "no_image.jpg",class: 'product-image' %>
	              <% else %>
	                <div class="product-ranking-img-3"><div class="hanbaiteishichuu-ranking-3">販売停止中</div></div>
	                <%= attachment_image_tag product, :image, :fill, 150, 150, class: "jacket-img", fallback: "no_image.jpg",class: 'product-image' %>
	              <% end %>
							</div>
							<div class="col-xs-12">
								<p><%= product.name %></p>
								<p class="artist-name-2-3"><%= product.artist.name %></p>
								<label class="genre-tag-2-3"><%= product.genre.name %></label>
								<p><%= product.release_date %></p>
								<!--いいね機能 -->
	              <%= render 'products/products', product:product %>
								<!--いいね機能 -->
							</div>
						<% end %>
					</div>
				<% end %>
			<% end %>

			<% if @ranked_product.size-1 > 10 %>
				<div class = "col-xs-3 ranking-2 Mottomiru">
					<button type="button" class="btn btn-flat-border Mottomiru-btn" id="Mottomiru">11位以降を見る</button>
				</div>
				<!--上記ボタン押下後、下記が表示される-->
				<div id="rest-of-ranking">
    			<% @ranked_product[10..@ranked_product.size-1].each.with_index(11) do |product,i| %>
						<div class="col-xs-2 genre-rank10-">
							<div class"row">
								<p><%= i %>位</p>
							</div>
							<%= link_to "/products/#{product.id}" do %>
								<div class="col-xs-12">
                	<% if product.status == "販売中" %>
										<%= attachment_image_tag product, :image, :fill, 100, 100, class: "jacket-img", fallback: "no_image.jpg",class: 'product-image' %>
                	<% else %>
                  	<div class="product-ranking-img-4"><div class="hanbaiteishichuu-ranking-4">販売停止中</div></div>
										<%= attachment_image_tag product, :image, :fill, 100, 100, class: "jacket-img", fallback: "no_image.jpg",class: 'product-image' %>
                	<% end %>
								</div>
								<div class="col-xs-12">
									<p><%= product.name %></p>
									<p class="artist-name-2-3-4"><%= product.artist.name %><span></p>
									<label class="genre-tag-2-3-4"><nobr class="genre-font-size"><%= product.genre.name %></nobr></label>
									<p><%= product.release_date %></p>
									<!--いいね機能 -->
                	<%= render 'products/products', product: product %>
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>
