<%= render 'layouts/user-nav' %>
<div class="container">
<%= render 'layouts/genre-guide' %>
	
	<div class="row product-wrapper">
		<div class="col-xs-2">
			<!-- render 'ジャンルガイド' 共用化せねば… -->
		</div>
		<div class="col-lg-10">
			
			<div class="row">
				<h2>いいね！ランキング</h2>
			</div>

			<div class="row total-rank1">
			<p>No.1</p>
			<div class="row ">
			
					
				</div>
				
				<div class="col-lg-5">
				
				<%= link_to "/products/#{@ranked_product[0].id}" do %>
					<%= attachment_image_tag @ranked_product[0], :image, :fill, 350, 350, class: "jacket-img", fallback: "no_image.jpg", class: 'product-image' %>
				</div>
				<div class="col-lg-7 ranking-1-contents1">
					<div class="row">
						<div class="col-lg-12">
							<p class="ranking-1-contents">
								<%= @ranked_product[0].name %>
							</p>
							<p class="ranking-1-contents">
								 <%= Artist.find(@ranked_product[0].artist_id).name %>　
							</p>

								<%= Genre.find(@ranked_product[0].genre_id).name %>
	
							<p class="ranking-1-contents">
								<%= @ranked_product[0].release_date %>
							</p>

							<p class="ranking-1-contents">
								<%= render 'products/products', product: @ranked_product[1] %>
							
								<!--いいね機能 --> 
							
								<%= @ranked_product[0].price * 1.08 %>円
            					
			
							</p>
						</div>
					</div>
				<% end %>
				</div>
			</div>

			<div class="row total-rank2-3">

			<% @ranked_product.each.with_index(1) do |product,i| %>
				<%# 1位は何も表示しない %>
				 <% if i == 1 %>
				 <% end %>		

				<%# 2位と3位を表示 %>
				 <% if i >1 && i <= 3 %>
				<div class = "col-lg-6 top-products">
					<div class ="row">
						<p>No.<%= i %></p>
					</div>
					<div class="col-lg-6">
					<%= link_to "/products/#{@ranked_product[i].id}" do %>
					  <%= attachment_image_tag @ranked_product[i], :image, :fill, 250, 250, class: "jacket-img", fallback: "no_image.jpg",class: 'product-image' %>
				  </div>

				  <div class="col-lg-6">
						<div class="row">
							<div class="col-lg-12 top-contents">
								<p>
									<%= @ranked_product[i].name %>
								</p>
								<p>
									 <%= Artist.find(@ranked_product[i].artist_id).name %>　
								</p>
								<label>
									<%= Genre.find(@ranked_product[i].genre_id).name %>
								</label>
					
								<p>
								<%= @ranked_product[i].release_date %>
							 	</p>
						 
							 	<p>
									<%= @ranked_product[i].price * 1.08 %>円
								 </p>
								 <p>
								 	<%= render 'products/products', product: @ranked_product[i] %>
								</p>
							 </div>
					  </div>
					  <div class="row">
							<div class="col-lg-6">
							<!--いいね機能 -->
              
              <!--いいね機能 -->
							</div>
							<div class="col-lg-6">

							</div>
					 </div>
				 </div>
				 <% end %>
				</div>
				<% end %>
				<% end %>

			</div>	



			<% @ranked_product.each.with_index(1) do |product,i| %>
				<%# 1位から3位までと、11位以降は何も表示しない %>
				 <% if i <= 3 || i >= 11 %>
				 <% end %>

				<%# 3位から10位までは以下のhtmlを表示する %>
				 <% if i >3 && i <= 10  %>
						<div class = "col-lg-3 genre-rank1-2-3">
							<div class ="row genre-rank1-2-3">
								<p>No.<%= i %></p>
							</div>
							<div class="col-lg-12">
							<%= link_to "/products/#{@ranked_product[i].id}" do %>
								<%= attachment_image_tag product, :image, :fill, 150, 150, class: "jacket-img", fallback: "no_image.jpg",class: 'product-image' %>
							</div>

							<div class="col-lg-12">
										<p>
											<%= product.name %>
										</p>
										<p>
											<%= Artist.find(product.artist_id).name %>　
										</p>
										<label>
											<%= Genre.find(product.genre_id).name %>
										</label>
										<p>
										<%= product.release_date %>
									  </p>
									  <p>
										<%= product.price * 1.08 %>円
									  </p>
										<!--いいね機能 -->
                    <%= render 'products/products', product:product %>
					<!--いいね機能 -->
							<% end %>
						  </div>
						</div>
				<% end %>
			<% end %>

			<div class = "col-lg-3 ranking-2 Mottomiru">
				<button type="button" class="btn btn-flat-border Mottomiru-btn" id="Mottomiru">11位以降を見る</button>
			</div>

			<div id="rest-of-ranking">
    	<% @ranked_product.each.with_index(1) do |product,i| %>
				<%# 10位までは何も表示しない %>
				 <% if i <= 10 %>
				 <% end %>

				<%# 11位以降は以下のhtmlを表示する %>
				 <% if i >10 %>
						<div class = "col-lg-2 genre-rank1-2-3">
							<div class ="row">
								<p>No.<%= i %></p>
							</div>
							<div class="col-lg-12">
							<%= link_to "/products/product,i.id}" do %>
								<%= attachment_image_tag product, :image, :fill, 100, 100, class: "jacket-img", fallback: "no_image.jpg",class: 'product-image' %>
							</div>

							<div class="col-lg-12">
										<p>
											<%= product.name %>
										</p>
										<p>
											<%= Artist.find(product.artist_id).name %>　
										</p>
										<label>
											<%= Genre.find(product.genre_id).name %>
										</label>
										<p>
										<%= product.release_date %>
									  </p>
									  <p>
										<%= product.price * 1.08 %>円
									  </p>
										<!--いいね機能 -->
                    <%= render 'products/products', product: product %>
					<!--いいね機能 -->
							<% end %>
						  </div>
						</div>
				<% end %>
			<% end %>

		</div>
		</div>
	</div>
</div>
