<h1>
Homes#top
<br>
Saddy
</h1>
<p>いいね未実装につき、ランキングはid順に3つ表示</p>

<div class="container">

	<!-- render 'homes/nav_bar' -->
	<!-- render 'homes/search_bar' -->

	<div class="row">
		<div class="col-xs-12">
			<!-- Todo Skipperを用いたヘッダ画像スライド -->
			<!-- ヘッダ画像 -->
		</div>
	</div>

	<div class="row">
		<div class="col-lg-2 genre-guide"><!-- こいつにpaddingあてればいい感じに余白ができる？ -->
			<ul>
				<li class="genre-head">ジャンルから</li>
				<% @genres.each do |g| %>
					<li class="genre-list">
						<%= g.name %>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="col-lg-10">

			<!-- 総合ランキング -->
			<div class="row total-ranking">
				<div class="col-lg-12">
					<p>いいね！ランキング</p> <!-- text-align: center; -->
				</div>
			</div>
			<div class="row total-rank1">
				<!-- ここで1位のCD情報を渡す -->
				<div class="col-xs-1">
					<p>1</p> <!-- 1位アイコン -->
				</div>
				<div class="col-xs-2">
					<!-- ジャケット画像 -->
					<%= attachment_image_tag @total_ranking[0], :image, :fill, 60, 60, class: "jacket-img", fallback: "no_image.jpg" %>
				</div>
				<div class="col-xs-9">
					<div class="row">
						<p>
							<%= @total_ranking[0].name %>
						</p>
					</div>
					<div class="row">
						<p>
							<%= @total_ranking[0].artist.name %>
						</p>
					</div>
				</div>
			</div>
			<div class="row total-rank2-3">
				<!-- ここで2位,3位の情報を受け取り、eachで繰り返し-->
				<% rank2 = @total_ranking[1] %>
				<% rank3 = @total_ranking[2] %>

				<!-- 2位 -->
				<div class="col-lg-6">
					<div class="col-lg-1">
						<p>2</p> <!-- ランク数を受け取って表示 -->
					</div>
					<div class="col-lg-1">
						<%= attachment_image_tag rank2, :image, :fill, 60, 60, class: "jacket-img", fallback: "no_image.jpg" %>
					</div>
					<div class="col-lg-10">
						<div class="row">
							<div class="col-lg-12">
								<p>
									<%= rank2.name %>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<p>
									<%= rank2.artist.name %>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- 3位 -->
				<div class="col-lg-6">
					<div class="col-lg-1">
						<p>3</p> <!-- ランク数を受け取って表示 -->
					</div>
					<div class="col-lg-1">
						<%= attachment_image_tag rank3, :image, :fill, 60, 60, class: "jacket-img", fallback: "no_image.jpg" %>
					</div>
					<div class="col-lg-10">
						<div class="row">
							<div class="col-lg-12">
								<p>
									<%= rank3.name %>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<p>
									<%= rank3.artist.name %>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p>もっと見る</p> <!-- text-align: right;,linktoに直す -->
				</div>

			</div>
			<hr>

			<!-- ジャンルごとランキング -->
			<div class="row genre-ranking">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-12">
							<p>J-pop いいね！ランキング</p>
						</div>
					</div>
					<% @jpops3.each.with_index(1) do |r, i| %>
						<div class="row genre-rank1-2-3">
							<div class="col-lg-1">
								<p>
									第<%= i %>位
								</p>
							</div>
							<div class="col-lg-2">
								<%= attachment_image_tag r, :image, :fill, 60, 60, class: "jacket-img", fallback: "no_image.jpg" %>
							</div>
							<div class="col-lg-9">
								<div class="row">
									<p>
										<%= r.name %>
									</p>
								</div>
								<div class="row">
									<p>
										<%= r.artist.name %>
									</p>
								</div>
							</div>
						</div>
					<% end %>
					<div class="row">
						<div class="col-lg-12">
							<p>もっと見る</p> <!-- text-align: right; linktoに直す -->
						</div>
					</div>
				</div>

				<!-- ROCK ランキング -->
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-12">
							<p>Rock いいね！ランキング</p>
						</div>
					</div>
					<% @rocks3.each.with_index(1) do |r, i| %>
						<div class="row">
							<div class="col-lg-1">
								<p>
									第<%= i %>位
								</p>
							</div>
							<div class="col-lg-2">
								<%= attachment_image_tag r, :image, :fill, 60, 60, class: "jacket-img", fallback: "no_image.jpg" %>
							</div>
							<div class="col-lg-9">
								<div class="row">
									<p>
										<%= r.name %>
									</p>
								</div>
								<div class="row">
									<p>
										<%= r.artist.name %>
									</p>
								</div>
							</div>
						</div>
					<% end %>
					<div class="row">
						<div class="col-lg-12">
							<p>もっと見る</p> <!-- text-align: right; linktoに直す -->
						</div>
					</div>
				</div>
			</div>
			<hr>
		</div>
	</div>

	<!-- render 'homes/footer' -->

</div>
