<%= render 'layouts/user-nav' %>
<div class="row">
		<div class="col-xs-12">
			<!-- Todo Skipperを用いたヘッダ画像スライド -->
      <div id="skippr-container">
        <div id="theTarget">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
        </div>
      </div>
		</div>
	</div>
<div class="container">



	<div class="row top-page">
    <%# フラッシュメッセージ %>
    <% flash.each do |message_type, message| %>
      <div class="<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
		<div class="col-lg-2 genre-guide"><!-- こいつにpaddingあてればいい感じに余白ができる？ -->
				<p class="genre-head">ジャンル別ランキング</p>
				<% @genres.each do |g| %>
          <table class="table">
            <tr>
              <th><%= link_to g.name, "ranking/#{g.id}", class: "btn-flat-border btn-block"  %></th>
            </tr>
            </table>
				<% end %>
		</div>
		<div class="col-lg-10">

			<!-- 総合ランキング -->
			<div class="row total-ranking">
				<div class="col-lg-12">
					<p>いいね！ランキング</p> <!-- text-align: center; -->
				</div>
			</div>
			<div class="row total-rank1">
<!-- ここで1位のCD情報を渡す -->
				<div class="col-xs-1 product-index">
				
					<p>1</p> <!-- 1位アイコン -->
				</div>
				<div class="col-xs-2">
					<!-- ジャケット画像 -->
					<%= link_to "/products/#{@all_ranked_product[0].id}" do %>
					<%= attachment_image_tag @all_ranked_product[0], :image, :fill, 250, 250, class: "jacket-img", fallback: "no_image.jpg", class: 'product-image' %>
				</div>
				<div class="col-xs-9 ">
					<div class="row">
						<p class="col-xs-4 top-1-product-name">
							<%= @all_ranked_product[0].name %>
						</p>
					</div>
					<div class="row">
						<p class="col-xs-4 top-1-product-name">
							<%= @all_ranked_product[0].artist.name %>
						</p>
						
				<% end %>
				
           <!--いいね機能 -->
           <!--いいね機能 -->
            <p><%= render 'products/products', product: @all_ranked_product[0] %></p>
           <!--いいね機能 -->
					</div>
				
				</div>
			</div>
			<div class="row total-rank2-3">
				<!-- ここで2位,3位の情報を受け取り、eachで繰り返し-->
				<% rank2 = @all_ranked_product[1] %>
				<% rank3 = @all_ranked_product[2] %>

<!-- 2位 -->
				<div class="col-lg-6 top-products">
					<div class="col-lg-2">
						<p>2</p> <!-- ランク数を受け取って表示 -->
					</div>
					<div class="col-lg-3 ">
					<%= link_to "/products/#{@all_ranked_product[1].id}" do %>
						<%= attachment_image_tag rank2, :image, :fill, 170, 170, class: "jacket-img", fallback: "no_image.jpg", class: 'product-image' %>
					</div>
					<div class="col-lg-7 ">
					
						<div class="row">
							<div class="col-lg-12 top-contents">
								<p>
									<%= rank2.name %>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 top-contents">
								<p>
									<%= rank2.artist.name %>
								</p>
					<% end %>
           <!--いいね機能 -->
            <p><%= render 'products/products', product: @all_ranked_product[1] %></p>
           <!--いいね機能 -->
							</div>
						</div>
					</div>
				</div>
<!-- 3位 -->
				<div class="col-lg-6 top-products">
					<div class="col-lg-1">
						<p>3</p> <!-- ランク数を受け取って表示 -->
					</div>
					<div class="col-lg-3 ">
					<%= link_to "/products/#{@all_ranked_product[2].id}" do %>
						<%= attachment_image_tag rank3, :image, :fill, 150, 150, class: "jacket-img", fallback: "no_image.jpg", class: 'product-image'  %>
					</div>
					<div class="col-lg-7">
						<div class="row">
							<div class="col-lg-12 top-contents">
								<p>
									<%= rank3.name %>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 top-contents">
								<p>
									<%= rank3.artist.name %>
								</p>
					<% end %>
               <!--いいね機能 -->
                <p><%= render 'products/products', product: @all_ranked_product[2] %></p>
               <!--いいね機能 -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p>もっと見る</p> <!-- text-align: right;,linktoに直す -->
				</div>

			</div>
			<hr>

			<!-- ジャンルごとランキング -->
			<div class="row genre-ranking">
				<div class="col-lg-6 ranking-1">
					<div class="row">
						<div class="col-lg-12">
							<p>J-pop いいね！ランキング</p>
						</div>
					</div>
<!-- j-pop 1位 -->
						<div class="row genre-rank1-2-3">
							<div class="col-lg-1">
								<p>第<%= 1 %>位</p>
							</div>
							<div class="col-lg-3">
							<%= link_to "/products/#{@jpop_rank[0].id}" do %>
								<%= attachment_image_tag @jpop_rank[0], :image, :fill, 80, 80, class: "jacket-img", fallback: "no_image.jpg",class: 'product-image' %>
							</div>
							<div class="col-lg-7">
								<div class="row">
                  			  <p><%= @jpop_rank[0].name %></p>
							  <p><%= @jpop_rank[0].artist.name %></p>
							<% end %>
				  
                   <!--いいね機能 -->
                  <p><%= render 'products/products', product: @jpop_rank[0] %></p>
                   <!--いいね機能 -->
								</div>
							</div>
						</div>
<!-- j-pop 2位 -->
						<div class="row genre-rank1-2-3">
							<div class="col-lg-1">
							
								<p>第<%= 2 %>位</p>
							</div>
							<div class="col-lg-3">
							<%= link_to "/products/#{@jpop_rank[1].id}" do %>
								<%= attachment_image_tag @jpop_rank[1], :image, :fill, 80, 80, class: "jacket-img", fallback: "no_image.jpg", class: 'product-image' %>
							</div>
							<div class="col-lg-7">
								<div class="row">
                  				<p><%= @jpop_rank[1].name %></p>
								  <p><%= @jpop_rank[1].artist.name %></p>
							<% end %>
				  
                   <!--いいね機能 -->
                  <p><%= render 'products/products', product: @jpop_rank[1] %></p>
                   <!--いいね機能 -->
								</div>
							</div>
						</div>
<!-- j-pop 3位 -->
						<div class="row genre-rank1-2-3">
							<div class="col-lg-1">
								<p>第<%= 3 %>位</p>
							</div>
							<div class="col-lg-3">
							<%= link_to "/products/#{@jpop_rank[1].id}" do %>
								<%= attachment_image_tag @jpop_rank[2], :image, :fill, 80, 80, class: "jacket-img", fallback: "no_image.jpg", class: 'product-image' %>
							</div>
							<div class="col-lg-7">
								<div class="row">
                  				<p><%= @jpop_rank[2].name %></p>
								  <p><%= @jpop_rank[2].artist.name %></p>
							<% end %>
                   <!--いいね機能 -->
                  <p><%= render 'products/products', product: @jpop_rank[2] %></p>
                   <!--いいね機能 -->
								</div>
							</div>
						</div>
					<div class="row">
						<div class="col-lg-12">
							<p>もっと見る</p> <!-- text-align: right; linktoに直す -->
						</div>
					</div>
				</div>

<!-- ROCK ランキング -->
			<div class="row genre-ranking">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-12">
							<p>rock いいね！ランキング</p>
						</div>
					</div>
<!-- rock 1位 -->
						<div class="row genre-rank1-2-3">
							<div class="col-lg-1">
								<p>第<%= 1 %>位</p>
							</div>
							<div class="col-lg-3">
							<%= link_to "/products/#{@rock_rank[0].id}" do %>
								<%= attachment_image_tag @rock_rank[0], :image, :fill, 80, 80, class: "jacket-img", fallback: "no_image.jpg", class: 'product-image' %>
							</div>
							<div class="col-lg-7">
								<div class="row">
                  				<p><%= @rock_rank[0].name %></p>
								<p><%= @rock_rank[0].artist.name %></p>
							<% end %>
                   <!--いいね機能 -->
                  <p><%= render 'products/products', product: @rock_rank[0] %></p>
                   <!--いいね機能 -->
								</div>
							</div>
						</div>
<!-- rock 2位 -->
						<div class="row genre-rank1-2-3">
							<div class="col-lg-1">
								<p>第<%= 2 %>位</p>
							</div>
							<div class="col-lg-3">
							<%= link_to "/products/#{@rock_rank[1].id}" do %>
								<%= attachment_image_tag @rock_rank[1], :image, :fill, 80, 80, class: "jacket-img", fallback: "no_image.jpg", class: 'product-image' %>
							</div>
							<div class="col-lg-7">
								<div class="row">
                  				<p><%= @rock_rank[1].name %></p>
								<p><%= @rock_rank[1].artist.name %></p>
							<% end %>
                   <!--いいね機能 -->
                  <p><%= render 'products/products', product: @rock_rank[1] %></p>
                   <!--いいね機能 -->
								</div>
							</div>
						</div>
<!-- rock 3位 -->
						<div class="row genre-rank1-2-3">
							<div class="col-lg-1">
								<p>第<%= 3 %>位</p>
							</div>
							<div class="col-lg-3">
							<%= link_to "/products/#{@rock_rank[2].id}" do %>
								<%= attachment_image_tag @rock_rank[2], :image, :fill, 80, 80, class: "jacket-img", fallback: "no_image.jpg", class: 'product-image' %>
							</div>
							<div class="col-lg-7">
								<div class="row">
                  				<p><%= @rock_rank[2].name %></p>
								  <p><%= @rock_rank[2].artist.name %></p>
							<% end %>
                   <!--いいね機能 -->
                  <p><%= render 'products/products', product: @rock_rank[2] %></p>
                   <!--いいね機能 -->
								</div>
							</div>
						</div>
					<div class="row">
						<div class="col-lg-12">
							<p>もっと見る</p> <!-- text-align: right; linktoに直す -->
						</div>
					</div>
				</div>
			</div>
			<hr>
		</div>
	</div>

	<!-- render 'homes/footer' -->

</div>
