<%= render '/layouts/admin-nav' %>
<div class="container">
			<h2>会員一覧</h2>
      <hr class="admin-hr">
	<div class="row admin-nav-bar">
		<div class="col-lg-12">
		</div>
	</div>
	<div class="row user-search">
		<div class="col-xs-6 col-xs-offset-3">
    <p class="product-new-label">検索フォーム</h3>
			<!-- ransack試す -->
        <table class="table">
          <%= search_form_for @search, url: 'users' do |f| %>
              <!-- ransackでは整数値の部分検索に非対応 -->
              <tr><th><%= f.label :id_eq, "ID" %></th><th><%= f.search_field :id_eq %></th></tr>
              <tr><th><%= f.label :email_cont, "メールアドレス" %></th><th><%= f.search_field :email_cont %></th></tr>
              <tr><th><%= f.label :phone_cont, "電話番号" %></th><th><%= f.search_field :phone_cont %></th></tr>
              <tr><th><%= f.label :last_name_or_first_name_cont, "お名前" %></th><th><%= f.search_field :last_name_or_first_name_cont %></th></tr>
        </table>
              <div class="kensaku-button"><%= f.submit "検索", class: "btn btn-success product-shinkitouroku" %></div>
          <% end %>
		</div>
	</div>
	<div class="row user-index">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="paginate">
				<%= paginate @result, class: "paginate" %>
			</div>
			<table class="table user-index-table">
				<tr>
					<th>会員ID</th>
					<th>会員名</th>
					<th>電話番号</th>
					<th>メールアドレス</th>
					<th></th>
				</tr>
				<% @result.each do |r| %>
          <% if r.is_deleted == false %>
            <tr>
              <td><%= r.id %></td>
              <td><%= r.last_name %><%= r.first_name %></td>
              <td><%= r.phone %></td>
              <td><%= r.email %></td>
              <td></td>
              <td><%= link_to "詳細", "/admin/users/#{r.id}", class: "btn btn-success"%></td>
            </tr>
          <% else %>
            <tr class="admin-product-index">
              <td><%= r.id %></td>
              <td><%= r.last_name %><%= r.first_name %></td>
              <td><%= r.phone %></td>
              <td><%= r.email %></td>
              <td>削除済ユーザー</td>
              <td><%= link_to "詳細", "/admin/users/#{r.id}", class: "btn btn-success"%></td>
            </tr>
          <% end %>
				<% end %>
			</table>
			<div class="paginate">
				<%= paginate @result, class: "paginate" %>
			</div>
		</div>
	</div>
</div>
