<%= render 'layouts/user-nav', products:  @product, user: current_user  %>

    <h1>商品一覧</h1>


    <div class="main-layout">
        <div class="row row-index">
            <% @products.each do |product| %>
                <div class="col-lg-2 product-index">
                <%= link_to "/products/#{product.id}" do %> 
                    <%= attachment_image_tag product, :image, :fill, 200, 200, format: 'jpeg',fallback: 'no_image.jpg', size: "150x150", class: "product-image" %><br>
                    <div class="product-text">
                        <%=  product.name  %><br> 
                        <%=  product.artist.name %><br>
                        <%= render 'products/products', product: product %>
                    </div>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>


