<%= render 'layouts/user-nav', products:  @product, user: current_user  %>

    <div class="main-layout">
        <div class="row product-wrapper">
      <div class="favorite-message">
        <!-- いいねしました表示がでる -->
      </div>
            <% @products.each do |product| %>
                    <div class="col-lg-2 product-index">
                        <%= link_to "/products/#{product.id}" do %>
                          <% if product.status == "販売中" %>
                                <%= attachment_image_tag product, :image, :fill, 200, 200, format: 'jpeg',fallback: 'no_image.jpg', size: "150x150", class: 'product-image' %><br>
                          <% else %>
                            <div class="discontinued-box">
                              <div class="discontinued-box-2"><div class="hanbaiteishichuu">販売停止中</div></div>
                              <%= attachment_image_tag product, :image, :fill, 200, 200, format: 'jpeg',fallback: 'no_image.jpg', size: "150x150", class: 'product-image' %><br>
                            </div>
                          <% end %>
                          <%= link_to product.name, "/products/#{product.id}" %><br>
                          <%= link_to product.artist.name, "/products/#{product.id}", class: 'index-name-2-3-4' %><br>
                        <% end %>
                          <!--いいね機能 -->
                          <%= render 'products/products', product: product %>
                          <!--いいね機能 -->
                    </div>
            <% end %>
            <%= paginate @products, class: "btn-flat-border paginate" %>
        </div>
    </div>

<%= render 'layouts/footer' %>



