
<%= render 'layouts/user-nav', products:  @product, user: current_user  %>
 <div class="container">
    <div class="row product-wrapper">
    <%# フラッシュメッセージ %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
      <div class="favorite-message">
      </div>
        <div class="col-xs-6">
            <div class="left-content">
                <div class="name">
                    <%= @product.name %><br>
                </div>
                <% if @product.status == "販売中" %>
                  <%= attachment_image_tag @product, :image, :fill, 350, 350, format: 'jpeg',fallback: 'no_image.jpg', size: "350x350", class: 'product-image' %>
                <% else %>
                  <div class="discontinued-box-show">
                    <div class="discontinued-box-3"><div class="hanbaiteishichuu-show">販売停止中</div></div>
                      <%= attachment_image_tag @product, :image, :fill, 350, 350, format: 'jpeg',fallback: 'no_image.jpg', size: "350x350", class: 'product-image' %>
                    </div>
                <% end %>
                <div class="product-date">
                    <span class="release-date">発売日<%= @product.release_date %></span>

                    <span class="songs-count">曲数<%= @product.songs.count %></span>

                </div>
                <div class="product-buy">
                    <div class="favorite">
                        <%= render 'products/products', product: @product %>
                    </div>
                    <div class="price">

                        ¥<%= @product.price %>(税込価格)
                        <span class="buy-btn">
                            <%= link_to "カートに入れる", "/cart_items/#{@product.id}", class: "btn-flat-border" %>
                        </span>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="right-content">
                <div class="text">
                    <div class="artist-name">
                        <%= @product.artist.name %><br>
                    </div>
                    <div class="name">
                        <%= @product.label.name %>
                        <%= @product.genre.name %>
                    </div>
                </div>
                <div class="song-index">
                    <div class="title">
                        <%= @product.name %>
                    </div>
                    <div class="songs">
                        <% @product.songs.each do |song| %><br>
                            <%= song.disk %>
                            <%= song.name %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
