
<%= render 'layouts/user-nav', products:  @product, user: current_user  %>
 <div class="container">
    <div class="row product-wrapper">
    <%# フラッシュメッセージ %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
        <div class="col-xs-6">
            <div class="left-content">
                <div class="name">
                    <%= @product.name %><br>
                </div>
                <div class="product-show-img"><div class="hanbaiteishichuu-show">販売停止中</div></div>
                <%= attachment_image_tag @product, :image, :fill, 350, 350, format: 'jpeg',fallback: 'no_image.jpg', size: "350x350", class: 'product-image' %>
                <div class="product-date">
                    <span class="release-date">発売日<%= @product.release_date %></span>

                    <span class="songs-count">曲数<%= @product.songs.count %></span>

                </div>
                <div class="product-buy">
                    <div class="favorite">
                        <%= render 'products/products', product: @product %>
                    </div>
                    <div class="price">

                        ¥<%= @product.price %>(税込価格)
                        <span class="buy-btn">
                            <%= link_to "カートに入れる", "/cart_items/#{@product.id}", class: "btn-flat-border" %>
                        </span>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="right-content">
                <div class="text">
                    <div class="artist-name">
                        <span class="name-show"><%= @product.artist.name %>☑<br></span>
                    </div>
                    <div class="name">
                        <span class="name-show"><%= @product.label.name %>☑</span>
                        <span class="name-show"><%= @product.genre.name %>☑</span>
                    </div>
                    
                        
                    
                </div>
                <div class="song-index">
                    <div class="title">
                        <%= @product.name %>
                    </div>
                    <div class="songs">
                    <div class="form-group"> 
                    <table class="table">
                    <% @product.songs.each do |song| %>
                        <tbody>
                            <tr><th><%= song.disk %>.</th><th><%= song.name %> </th></tr>
                            <tr><th></th><th></th></tr>
                        </tbody>
                    <% end %>
                     </table>  
                
                     
                </div>
            </div>
        </div>

            

    </div>
</div>
