<nav>
  <ul>
    <li><%= link_to '受注一覧', '#' %></li>
    <li><%= link_to '会員一覧', '#' %></li>
    <li><%= link_to '商品一覧', '/admin/products' %></li>
    <li><%= link_to '商品登録', '/admin/products/new' %></li>
    <li><%= link_to 'アーティストマスタ', '/artists' %></li>
    <li><%= link_to 'レーベルマスタ', '/labels' %></li>
    <li><%= link_to 'ジャンルマスタ', '/genres' %></li>
    <li><%= link_to '受注一覧', '#' %></li>
  </ul>
</nav>
