

<div class="header">
    <div class="container">
        <nav class="navbar navbar-main">

            <div class="logo">
                <h4>GooCD</h4>
            </div>
                <% if user_signed_in? %>
                <div class="slidemenu">
                    <ul class="nav navbar-nav navbar-left">
                        <li><%= link_to '商品一覧', "/products", class: "glyphicon glyphicon-headphones headphones" %></li>
                    </ul> 
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to 'カートへ', "/#", class: "glyphicon glyphicon-shopping-cart cart" %><li>
                        <li><%= link_to ' マイページ', "/users/#{current_user.id}", class: "glyphicon glyphicon-user users" %></li>
                        <li><%= link_to 'ログアウト', "/users/sign_out", method: :delete, class: "glyphicon glyphicon-log-out logout" %></li>
                        <% else %>
                        <li><%= link_to 'ログイン', "/users/sign_in", class: "glyphicon glyphicon-log-in sign_in" %></li>
                        <li><%= link_to '会員登録', "/users/sign_up", class: "glyphicon glyphicon-edit sign_up" %><li>
                    </ul>
                </div>
                <% end %>

        </nav>
    </div>
</div>
